<div class="jumbotron mt-4">
    <h1 class="display-4">Titulo de la empresa</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quasi dignissimos in voluptatibus ad
        architecto.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quasi beatae accusantium porro. Error, autem.</p>
    <button class="btn btn-primary">Ejemplo</button>
</div>