<!-- CUERPO DEL EJERCICIO -->
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form class="row g-3 needs-validation" method="POST" action="/citas/new-cita">
                    <div class="col-lg-4">
                        <label for="validationCustom01" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="validationCustom01" name="cName" required>
                    </div>
                    <div class="col-lg-4">
                        <label for="validationCustom02" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="validationCustom02" name="cLastName" required>
                    </div>
                    <div class="col-lg-4">
                        <label for="validationCustomUsername" class="form-label">Email</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                            <input type="email" class="form-control" id="validationCustomUsername"
                                aria-describedby="inputGroupPrepend" name="cEmail" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label for="validationCustom03" class="form-label">Teléfono</label>
                        <input type="number" class="form-control" id="validationCustom03" name="cPhone" required>
                    </div>
                    <div class="col-lg-6">
                        <label for="validationCustom03" class="form-label">Seleccione su fecha</label>
                        <input type="date" class="form-control" name="cDate" value="" min="2020-12-26" max="2022-12-26"
                            required>
                    </div>
                    <div class="col-lg-6">
                        <label for="validationCustom03" class="form-label">Seleccione su hora</label>
                        <input type="time" id="start" class="form-control" name="cTime" value="">
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Reservar fecha</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<!-- FIN DEL FORMULARIO --->